*{
	margin:0px;
	padding:0px;	
}
.header{
	     height:100vh;
		 background-image:url('../img/home-bg.jpg');
		 background-size:cover;
		 background-attachment:fixed;
		 
		 
	
}
.nav{
	   height:5vh;
	   background-color:white;
	   padding:2rem;
	
	
}
.nav img{
	        height:3rem;
			margin-left:8rem;
			width:5%;
	
}	
.nav nav ul li{
	             display:inline-block;	
				  list-style:none;
				 
				
	
}
.nav nav ul li a{
	               list-style:none;
				   text-decoration:none;
				   color:grey;
				   margin-left:2rem;
				   
	
	
}
nav{ 
     margin-top:-2rem;
	 margin-left:50%;
}
.content{
	      color:white;
		  margin-left:8rem;
		  margin-top:20%;
	
}
.content h1{
	         font-size:3rem;
			 font-weight:600;
			 letter-spacing:0.2rem;

}
.content p{
	       font-size:1.2rem;
		   margin-top:1rem;
		   margin-bottom:2rem;
		   letter-spacing:0.2rem;
		   
}
.list li{
	           list-style:none;
			   display:inline-block;
			   color:white;
	
}
.list li a{
	        color:white;
			margin-left:1rem;
}
.content4{
		   background-color:#F7F7F7;
		   padding-top:5rem;
	 
}
.container{
	        display:flex;
			margin:5rem;
	
	
}
.content-3{
	          display:flex;
			   padding-bottom:5rem;
	
	
	
}
.content-2{
	       width:80%;
		   margin-left:10rem;
		   margin-top:2rem;
		   font-family:sans-serif;
		   font-size:1.02rem;
		   letter-spacing:0.1rem;
		   color:#999999;
}
.content-2 p{
	          margin-top:1.5rem;
			  line-height:1.7rem;
			  letter-spacing:0.1rem;
	
	
}
.content-1{
	           border:1.5rem solid #B39C7B;
			   padding-left:2rem;
			   padding-bottom:2rem;
			   
			   
			   
}
.content-1 img{
	            margin-top:-4rem;
				margin-right:-4rem;
	
	
}
.content-3{
	        justify-content:space-around;
			margin:6rem;
	
	
}
.content-3 i{
	          font-size:2.5rem;
			  color:#B39C7B;
	
}
.content-3 h3{
	          margin-top:1rem;
			  font-size:0.9rem;	
}
.content-3 p{
	          margin-top:1rem;
			  color:#999999;	
}
.port{
	  text-align:center;
}
.nav1 ul li{
	        list-style:none;
			display:inline-block;
			
	
}
.nav1 ul li a {
	            text-decoration:none;
				margin-left:1.02rem;
				color:#999999;
	
}
.nav1 ul li a:hover{
	                color:#B39C7B;
	
}

.nav2{
	    margin-top:8rem;
        margin-right:28.5rem;		
	
}
.port1{
	   display:flex;
	
}	
.port2{
	   display:flex;
	
}
.port-head2{
            margin:5rem;

}	
.port-head2 img{
	             width:100%;
				 height:40vh;
	
}
.port-head2 div{
	             margin:1rem;
	
} 
.journal-head h2{
	              text-align:center;
				  font-size:2rem;
                  padding-top:5rem;				  
	
}
.journal1 h2{
				  letter-spacing:0.2rem;
				  font-size:1rem;
                  padding-top:1rem;				  
	
}
.journal1 p{
				  font-size:1rem;
				  letter-spacing:0.1rem;
				  color:#999999;
                  padding-top:1rem;				  
	
}
.journal1{
	        display:flex;
			margin:4rem 7rem;
	
}
.journal1 div img{
	               height:40vh;
				   width:100%;
	
}
.journal1 div{
	           margin-left:1.5rem;
	
}
.journal{
	      background-color:#F7F7F7;
		  padding:3rem orem;
	
}
.form1{
	    display:flex;
	
}
.form{
	   margin:10rem;
	   backgorund-color:#FFFFFF;
	
	
}
.form3{
	     margin-left:20rem;
		 line-height:1rem;
		 padding-bottom:2rem;
	
}
.form3 input{
	          padding:1rem;
			  margin-top:1rem;
			  
}
.form3 .name{
	          width:50%;
	
}
.form3 .email{
	          width:50%
	
}
.form3 .subject{
	            width:100%
	
}
.form3 .message{
	            width:100%;
			    margin-top:1rem;
	
}
.form3 .btn{
			  margin-top:1rem;
			  border:1px solid black;
			  width:100%;
			  background-color:#292929;
			  color:white;
	          padding:1rem;
			  font-size:1rem;
}
.form2 h2{
	       font-size:2rem;
		   font-family:sans-serif;
		   padding-bottom:1rem;
	
}
.form2 p{
	      font-size:1rem;
		  font-family:sans-serif;
		  line-height:2rem;
		  color:#9999A5;
	

	
	
}
.list2 li{
	           list-style:none;
			   display:inline-block;
			   color:white;
	
}
.list2 li a{
	        color:grey;
		    font-size:1.5rem;
			margin-left:1rem;
}
footer{
	     text-align:center;
	
}
footer p{
	       padding-top:1rem;
		    color:#9999A5;
	       line-height:2rem;
	
}
footer span{
	          color:black;
	
}